# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# Model checkpoints / large files
*.h5
*.pkl
*.pt
*.ckpt
*.bin

# Datasets
data/
*.csv
*.json
*.zip

# System files
.DS_Store
Thumbs.db
